h1, p {
  font-family: Lato;
}

ul li .deleteButton{
  display: inline;
  position: absolute;
  right: 5px;
  top: -10px;

  

}
p{
  display: inline;
}

ul li p:hover{
  cursor: pointer;
}

ul li{
  position: relative;
  
  background-color: grey;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  
  width: 400px;

}

ul{
  list-style-type: none;
}

.complete{
  text-decoration: line-through;
}
.taskForm{
  display: inline;
}